<a href="https://colab.research.google.com/github/gthiagosilva/bootcamp_machine_learning/blob/main/Aula_3_3_1_Preparando_o_Dataset_(parte_1).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# https://www.youtube.com/watch?v=fyMutvco7ms
import pandas as pd # biblioteca para tratamento e limpeza dos dados
import numpy as np # biblioteca utilizada para o tratamento eficiente de dados num√©ricos
import datetime #biblioteca utilizada para trabalhar com dados

In [2]:
# importando dados para o google colab
from google.colab import files
uploaded = files.upload()

Saving BL-Flickr-Images-Book.csv to BL-Flickr-Images-Book.csv

In [23]:
#importando os dados para o google colab
df_flickr_book = pd.read_csv('BL-Flickr-Images-Book.csv') #dataset sobre livros da British Library

In [24]:
df_flickr_book.head()

   Identifier  ...                           Shelfmarks
0         206  ...    British Library HMNTS 12641.b.30.
1         216  ...    British Library HMNTS 12626.cc.2.
2         218  ...    British Library HMNTS 12625.dd.1.
3         472  ...  British Library HMNTS 10369.bbb.15.
4         480  ...     British Library HMNTS 9007.d.28.

[5 rows x 15 columns]

In [25]:
df_flickr_book.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8287 entries, 0 to 8286
Data columns (total 15 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Identifier              8287 non-null   int64
 1   Edition Statement       773 non-null    object
 2   Place of Publication    8287 non-null   object
 3   Date of Publication     8106 non-null   object
 4   Publisher               4092 non-null   object
 5   Title                   8287 non-null   object
 6   Author                  6509 non-null   object
 7   Contributors            8287 non-null   object
 8   Corporate Author        0 non-null      float64
 9   Corporate Contributors  0 non-null      float64
 10  Former owner            1 non-null      object
 11  Engraver                0 non-null      float64
 12  Issuance type           8287 non-null   object
 13  Flickr URL              8287 non-null   object
 14  Shelfmarks              8287 non-null   object
dtypes: float64(3), int64(1), object(11)
memory usage: 971.3+ KB

In [26]:
colunas_retiradas = ['Edition Statement','Corporate Author','Corporate Contributors','Former owner','Engraver','Contributors','Issuance type','Shelfmarks']
df_flickr_book.drop(columns=colunas_retiradas,axis=1,inplace=True)

In [27]:
df_flickr_book.head()

   Identifier  ...                                         Flickr URL
0         206  ...  http://www.flickr.com/photos/britishlibrary/ta...
1         216  ...  http://www.flickr.com/photos/britishlibrary/ta...
2         218  ...  http://www.flickr.com/photos/britishlibrary/ta...
3         472  ...  http://www.flickr.com/photos/britishlibrary/ta...
4         480  ...  http://www.flickr.com/photos/britishlibrary/ta...

[5 rows x 7 columns]

In [28]:
df_flickr_book.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8287 entries, 0 to 8286
Data columns (total 7 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Identifier            8287 non-null   int64
 1   Place of Publication  8287 non-null   object
 2   Date of Publication   8106 non-null   object
 3   Publisher             4092 non-null   object
 4   Title                 8287 non-null   object
 5   Author                6509 non-null   object
 6   Flickr URL            8287 non-null   object
dtypes: int64(1), object(6)
memory usage: 453.3+ KB

In [29]:
# verificando se existe algum identificador repetido para o dataset
print(df_flickr_book['Identifier'].is_unique)

True

In [30]:
# contando a quantidade de valores √∫nicos
df_flickr_book['Identifier'].nunique()

8287

In [31]:
df_flickr_book.loc[1905:, 'Date of Publication'].head(10) # Seleciona as linhas que cont√©m a data de publica√ß√£o do √≠ndice 1905 at√© o final do arquivo

1905         1879
1906         1886
1907         1844
1908    1861-1909
1909         1884
1910         1885
1911         1834
1912         1837
1913         1867
1914         1830
Name: Date of Publication, dtype: object

In [32]:
#tratando as datas de publica√ß√£o de cada um dos livros atrav√©s das express√µes regulares
expre_regular = r'^(\d{4})' # define a express√£o regular que deve ser utilizada para cada uma das datas de publica√ß√£o (encontra o conjunto inicial de 4 d√≠gitos)
extr = df_flickr_book['Date of Publication'].str.extract(expre_regular, expand = False) # aplica o modelo de extra√ß√£o atrav√©s da express√£o regular definida

In [33]:
extr[1905:].head(10)

1905    1879
1906    1886
1907    1844
1908    1861
1909    1884
1910    1885
1911    1834
1912    1837
1913    1867
1914    1830
Name: Date of Publication, dtype: object

In [34]:
#aplicando ao dataset e convertendo para num√©rico
df_flickr_book['Date of Publication']=pd.to_numeric(extr)

In [35]:
#verificando o dataset
df_flickr_book.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8287 entries, 0 to 8286
Data columns (total 7 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Identifier            8287 non-null   int64
 1   Place of Publication  8287 non-null   object
 2   Date of Publication   7316 non-null   float64
 3   Publisher             4092 non-null   object
 4   Title                 8287 non-null   object
 5   Author                6509 non-null   object
 6   Flickr URL            8287 non-null   object
dtypes: float64(1), int64(1), object(5)
memory usage: 453.3+ KB

In [36]:
#contando a quantidade de valores nulos existentes
df_flickr_book['Date of Publication'].isnull().sum() # o isnull() retorna uma s√©rie com a resposta para a pergunta (isnull?)

971

In [37]:
df_flickr_book['Date of Publication'].isnull()

0       False
1       False
2       False
3       False
4       False
        ...
8282    False
8283    False
8284     True
8285    False
8286    False
Name: Date of Publication, Length: 8287, dtype: bool

In [38]:
df_flickr_book.dropna(subset=['Date of Publication'],inplace=True) # elimia as linhas que possuem valores nulos
df_flickr_book['Date of Publication']=df_flickr_book['Date of Publication'].astype(int) #transforma os float em int

In [39]:
df_flickr_book.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7316 entries, 0 to 8286
Data columns (total 7 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Identifier            7316 non-null   int64
 1   Place of Publication  7316 non-null   object
 2   Date of Publication   7316 non-null   int64
 3   Publisher             3576 non-null   object
 4   Title                 7316 non-null   object
 5   Author                5782 non-null   object
 6   Flickr URL            7316 non-null   object
dtypes: int64(2), object(5)
memory usage: 457.2+ KB

In [40]:
df_flickr_book['Place of Publication'].head()

0                      London
1    London; Virtue & Yorston
2                      London
3                      London
4                      London
Name: Place of Publication, dtype: object

In [41]:
df_flickr_book['Place of Publication'].str.contains('London').head(10)

0      True
1      True
2      True
3      True
4      True
5      True
6      True
8      True
9      True
10    False
Name: Place of Publication, dtype: bool

In [42]:
df_flickr_book.groupby('Place of Publication')

In [43]:
london = df_flickr_book['Place of Publication'].str.contains('London') #cria a serie que contem os valores True e False para a cidade de Londres
oxford = df_flickr_book['Place of Publication'].str.contains('Oxford') #cria a serie que contem os valores True e False para a cidade de Oxford

In [44]:
df_flickr_book['Place of Publication']=np.where(london, 'London', np.where(oxford, 'Oxford', df_flickr_book['Place of Publication'].str.replace('-', ' '))) # aplica o where para preencher cada uma das senten√ßas com o local correto

In [45]:
df_flickr_book.head()

   Identifier  ...                                         Flickr URL
0         206  ...  http://www.flickr.com/photos/britishlibrary/ta...
1         216  ...  http://www.flickr.com/photos/britishlibrary/ta...
2         218  ...  http://www.flickr.com/photos/britishlibrary/ta...
3         472  ...  http://www.flickr.com/photos/britishlibrary/ta...
4         480  ...  http://www.flickr.com/photos/britishlibrary/ta...

[5 rows x 7 columns]

In [46]:
# com isso, removemos algumas colunas n√£o √∫teis na an√°lise, realizamos a padroniza√ß√£o dos valores do campo local da publica√ß√£o e simplificamos a data de publica√ß√£o

**Trabalhando com dados sem sentido**